.movieCard {
  display: flex;
}

.movieDescription {
  margin-left: 20px;
}

.movieImageThumb {
  height: 400px;
}

.movieImage {
  display: block;
  width: 280px;
  height: 100%;
  object-fit: cover;
}
